@font-face {
    font-family: Lalezar;
    src: url('../fonts/Lalezar-Regular.ttf');
}

@font-face {
    font-family: 'Vazir';
    src: url('../Font/Vazir .eot');
    src: url('../Font/Vazir.eot?#iefix') format('embedded-opentype'),
        url('../Font/Vazir.woff2') format('woff2'),
        url('../Font/Vazir.woff') format('woff'),
        url('../Font/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSansDN';
    src: url('../Font/IranSansDN.eot');
    src: url('../Font/IranSansDN.eot?#iefix') format('embedded-opentype'),
        url('../Font/IranSansDN.woff2') format('woff2'),
        url('../Font/IranSansDN.woff') format('woff'),
        url('../Font/IranSansDN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}